# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
.venv/
myvenv
env/



# =====================
# Testing / Coverage
# =====================
.pytest_cache/

# =====================
# OS / Editor
# =====================

.vscode/

# =====================
# secrets
# =====================